@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap'); /*google fonts*/
/*header*/
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

header {
    background: #285943;
    max-height: 100px;
    padding: 2% 9%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar a {
    color: #f4f2f2;
    font-size: 2.5vw;
    padding: 0 1.5vw;
}

header .icons a {
    height: 6vw;
    line-height: 6vw;
    width: 6.5vw;
    font-size: 4vw;
    border-radius: .5rem;
    color: #f4f2f2;
}

.login-signin {
    display: flex;
    justify-content: flex-end;
}

.login a,
.signin a {
    display: inline-block;
    padding: 1vh 2vw;
    background-color: #285943;
    color: #dfffd5;
    border-radius: 40px;
    font-size: 2vw;
}

.login a:hover,
.signin a:hover {
    background-color: #8CD790;
    color: #285943;
    transition: background-color 0.5s ease, color 0.5s ease;
}







/*restul body*/
body {
    background: #77AF9C;
}
.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3.5rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    color: var(--blue);
    background: var(--light-blue);
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background: var(--blue);
    color: #fff;
}

.heading {
    text-align: center;
    color: #333;
    font-size: 4rem;
    padding-bottom: 3rem;
}

.heading span {
    color: var(--blue);
    background: var(--light-blue);
    border-radius: .5rem;
    padding: .2rem 1.5rem;
}

.home {
    min-height: 77vh;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box a,
p {
    display: block;
    font-size: 1.5rem;
    color: #666;
    padding: .5rem 0;
}